.backgroundOne{
    background-color:$light-blue; 
 }
 .backgroundTwo{
     background-color:$orange;
 }
 .backgroundThree{
     background-color:$green;
 }
 .backgroundFour {
     background-color:$dark-brown; 
 }
 .footer {
     color:$tan;
     
 }